# === EXCLUSIONS IA LOURDES ===
# Empêcher les modèles HuggingFace de gonfler l'image Docker
model/finetuned-sentiment/
model/*.bin
model/*.pt
model/*.pth
model/*.joblib
huggingface/
*.joblib
*.pt
*.bin
# Empêcher les datasets de se retrouver dans Docker
data/*.csv

# Environnements virtuels
venv/
*/venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Fichiers temporaires / IDE
.env
.DS_Store
.vscode/
.idea/

# Fichiers inutiles à la prod
*.sqlite3
*.ipynb
*.csv
*.md
*.txt~

# Dossiers système ou tests
__MACOSX/
tests/
notebooks/
